.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
}

.backBtn {
  width: 5%;
  padding: 2%;
  filter: invert(70%) sepia(41%) saturate(289%) hue-rotate(136deg)
    brightness(95%) contrast(87%);
}

.body {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: space-evenly;
}

.h1 {
  width: 75%;
  font-size: 350%;
  text-align: center;
  color: #7ebdc2;
}

.h2 {
  color: #efe6dd;
}

.choiceContainer {
  display: flex;
  flex-flow: column;
  width: 75%;
  padding: 2%;
  align-items: center;
  border: 2px solid #efe6dd;
  border-radius: 5px;
}

.inputsWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.inputContainer {
  display: flex;
  flex-flow: column;
  width: 30%;
  padding: 1% 0 2% 0;
  align-items: center;
  background: #efe6dd;
  border-radius: 50px;
}

.inputContainer > label {
  padding: 1%;
}

.inputContainer > input {
  height: auto;
  width: 25%;
}

.hr {
  height: 60%;
  margin-bottom: 4%;
}

.choiceContainer > input {
  width: 25%;
  height: auto;
  text-align: center;
  font-size: 120%;
}

.btnContainer {
  display: flex;
  width: 25%;
  height: auto;
  justify-content: center;
}

.createBtn {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 2%;
  align-items: center;
  justify-content: center;
}

.createBtn:hover {
  background: #7ebdc2;
  font-weight: bold;
}

.popUp {
  position: absolute;
  top: 0;
  left: 35;
  background: greenyellow;
  z-index: 2;
}
